<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyARsY5_T5M5m7gkOYNDwS6hoO8aOjRTBmw</string>
	<key>GCM_SENDER_ID</key>
	<string>498286739341</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mylibrary</string>
	<key>PROJECT_ID</key>
	<string>my-library-2e883</string>
	<key>STORAGE_BUCKET</key>
	<string>my-library-2e883.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:498286739341:ios:90f627f5da80a1f24707c4</string>
</dict>
</plist>